<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tên sản phẩm</label>
        <input type="text" id="name" class="form-control" ng-model="product.name" id="exampleInputEmail1" aria-describedby="emailHelp">
        <p id="name-mess" style="color: red;"></p>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Giá</label>
        <input type="number" id="price" class="form-control" ng-model="product.price" id="exampleInputEmail1" aria-describedby="emailHelp">
        <p id="price-mess" style="color: red;"></p>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Số lượng</label>
        <input type="number" id="quanti" class="form-control" ng-model="product.quantity" id="exampleInputEmail1" aria-describedby="emailHelp">
        <p id="quanti-mess" style="color: red;"></p>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ảnh</label>
        <input type="file" file-model="product.imageUrl" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mô tả</label>
        <input type="text" id="des" class="form-control" ng-model="product.descript" id="exampleInputEmail1" aria-describedby="emailHelp">
        <p id="des-mess" style="color: red;"></p>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Loại sản phẩm</label>
        <br>
        <select class="form-select" ng-model="product.categoryId" aria-label="Default select example">
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
          </select>
    </div>
    <button type="submit" ng-click="addProduct()" class="btn btn-primary">Thêm mới</button>
</form>