<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Nội dung</th>
            <!-- <th scope="col">Trạng thái</th> -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts">
            <th scope="row">{{contact.id}}</th>
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.content}}</td>
            <!-- <td ng-if="contact.status=='Hoàn thành'" style="color: green;">{{contact.status}}</td>
            <td ng-if="contact.status=='Chưa hoàn thành'" style="color: red;">{{contact.status}}</td> -->
            <!-- <button type="button" class="btn btn-primary" ng-click="editStatus(contact.id)">Hoàn thành</button> -->
            <td> <button type="button" class="btn btn-danger" ng-click="deleteContact(contact.id)">Xoá</button> </td>
        </tr>
    </tbody>
</table>